<div class="location">
	<h1>LOCATION TBD</h1> <!--background image is from db/flickr -->
</div>
<div class="locationDropDown">
	<div class="row">
		<div class="col-sm-6 col-sm-4">
			<div class="infoBox">
				<img src="#" />
				<h2>Title</h2>
				<p>Type of Place</p>
				<address>Location</address>
				<p>rating</p>
			</div>
			<div class="checkBox">
			 	<p>Been here yet, etc?</p>
			</div>
		</div>
	</div>
</div>
