<!-- each 'section' is a fullpage for fullpage.js, the container for fullpage is #landing -->
	<div class="landingPageNavigation">
		<ul>
	        <li><a href="#explor">Start Exploring</a></li>	
		    <li><a href="#about">About Explor</a></li>
	        <li><a href="#developers">The Team</a></li>
	    </ul>
	</div>

<div id="landing">
    <div class="section first-page">
    	<div class="splash">
    		<h1 id="splash-title">Explor</h1>
 			</div>
 			<div class="animation">
    		<div class="airport"></div>
    	</div>
			<div class="container search-bar">	
				<%= form_for :location, url: results_path, html: { id: "place-search" } do |f|  %>
          <%= f.text_field :name, id: 'autocomplete', placeholder: '' %>
          <%= f.submit 'Explor', id: 'first-page-submit' %>
        <% end %>
			</div>
    </div>
    <div class="section">
    	<div class="container">
	 		<div class="slide">   	
	    	 	<div class="row">
	    	 		<div class="col-sm-8 col-sm-offset-2">
	    	 		<h2>about this app</h2>
		    			<p>Fuel your wanderlust with 1 click. Channeling the search results for everything from popular landmarks, good eats, weather, and beautiful pictures so that you can spend more time adventuring, and less time researching. 
		    			</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="slide">   	
	    	 	<div class="row">
	    	 		<div class="col-sm-8 col-sm-offset-2">
	    	 		<h2>about this app</h2>
		    			<p>How it works? Just enter a location and hit explor, you'll be on your way. Want to save some stuff to come back to? Just log in to start building your own trip helper personalized to your interestes</p>
		    		</div>
		    	</div>
	    	</div>
    	</div>
    </div>
    <div class="section">
    <div class="container">
	    <div class="row">
	    	<h2>about the creators</h2>
	    	<div class="col-sm-4">
			    <div class="thumbnail">
			      <img src="..." alt="...">
			      <div class="caption">
			        <h3>Julie</h3>
			        <p>...</p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4">
			    <div class="thumbnail">
			      <img src="..." alt="...">
			      <div class="caption">
			        <h3>Auggie</h3>
			        <p>...</p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-4">
			    <div class="thumbnail">
			      <img src="..." alt="...">
			      <div class="caption">
			        <h3>Brittany</h3>
			        <p>...</p>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>

<script>
var placeSearch, autocomplete, place;

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', function() {
    place = autocomplete.getPlace();
    // update hidden form input with place data
    $('#place-search input[name="location[name]"]').val(place.formatted_address);
  });
}

</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= @maps_key %>&libraries=places&callback=initAutocomplete"></script>




