<%= bootstrap_form_for :user, url: login_path do |f| %>
	<div class="form-group has-feedback">
		<%= f.text_field :email, autofocus:true %>
		<span class="linea-icon form-control-feedback">&</span>
	</div>
	<div class="form-group has-feedback">
		<%= f.password_field :password %>
		<span class="linea-icon form-control-feedback">3</span>
	</div>
	<%= f.submit "Login" %>
<% end %>