

/*landing page navigation fields */
.section .landingPageNavigation{
	/*margin-top: -30px;*/
	padding: 0;
	/*position: absolute;*/
}

/*results page */


.landingPageNavigation {
	/* color: rgba(77, 175, 124, 0.9); ocean green*/
	margin: 1em 0;
	width: 100%;
	position: fixed;
	z-index: 1;
/*	top: 5;*/
	ul {
		margin: 0 auto;
		list-style-type: none;
		padding: auto 25%;	
		float: left;
		li {
			display: inline;
			margin-right: .5em;
			a {
				text-decoration: none;
				margin: auto 1em;
				vertical-align: top;
			}
		}
	}
}


/*result slider stylin */
.resultsPage {
	width: 100%;
	padding: 1em 2em;
	h2 {
		text-align: center;
		font-size: 4em;
		margin: 1em 0 0 0;
	}
}
.rowParent {
	box-sizing: border-box;

	.column {
		width: 25%;
		margin-top: -10em;
		padding: 0;
		float:left;
		box-sizing: inherit;

		.columnImage {
			width: 90%;
    		height: 200px;
    		object-fit: cover;
    		overflow: hidden;
    		border-radius: 5px;
		}
		.columnImage:hover input {
			display: inline-block;
		}
		.columnImage input {
		    position:absolute;
		    display:none;
		}

		.column input.submit {
		    top:0;
		    left:0;
		}

		h2, p {
			margin: 0;
			padding: 0;
		}
	}
}






