

/*landing page navigation fields */
.section .landingPageNavigation{
	/*margin-top: -30px;*/
	padding: 0;
	/*position: absolute;*/
}

/*results page */
.resultsImage {
	max-width: 200px;
	max-height: 200px;
	border-radius: 5%;
	margin: 0 auto;
}
