/*landing page navigation fields */
#results{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #24221F),
	color-stop(0, #FFFFFF),
	color-stop(1, #5E7C88));
	background-image: -o-linear-gradient(bottom, rgba(36,34,31,0.5), rgba(94,124,136,0.5), rgba(255,255,255,0.5));
	background-image: -moz-linear-gradient(bottom, rgba(36,34,31,0.5), rgba(94,124,136,0.5), rgba(255,255,255,0.5));
	background-image: -webkit-linear-gradient(bottom, rgba(36,34,31,0.5), rgba(94,124,136,0.5), rgba(255,255,255,0.5));
	background-image: -ms-linear-gradient(bottom, rgba(36,34,31,0.5), rgba(94,124,136,0.5), rgba(255,255,255,0.5));
	background-image: linear-gradient(to bottom, rgba(36,34,31,0.5), rgba(94,124,136,0.5), rgba(255,255,255,0.5));
}

.landingPageNavigation{
	padding: 10px;
	/*position: absolute;*/
	z-index: 1200;
}

.first-page {
	background: image-url('greece.jpeg');
	background-size: cover;
}
/*autocomplete on landing */
.pac-container{
	background-color: rgba(255,255,255,0.7);
	color: black;
}
.pac-icon {
	display: none;
}
.pac-item {
	color: #5E7C88;
}
.pac-item:hover {
	background-color: rgba(255,255,255,0.7);
}
.splash {
	margin: 0%;
	display: inline-block;
	float:left;
	width: 50%;
	text-align: right;
}

#splash-title {
	font-size: 180px;
	line-height: 200px;
	vertical-align: middle;
	font-family: "Airport", sans-serif;
	color: white;
	text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.animation {
	text-align: left;
	display: inline-block;
	margin: 0%;
	padding: 0;
}

.airport {
	font-size: 100px;
	font-family: "Roboto-Thin", sans-serif;
	color: white;
	text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.search-bar {
	width: 100%;
	text-align: center;
	clear: both;
}

.landingPageContainer {
	width: 100%;
	margin: 0;
}
.animationContainer {
	line-height: 250px;
	vertical-align: middle;
	width: 50%;
	float:right;
	margin: 0;
	text-align: left;
	padding-left: 20px;
}

#autocomplete {
  margin: 0;
  width: 50%;
  text-align: center;
  font-family: "Roboto-Thin";
  color: white !important;
  font-size: 70px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border-bottom: 5px solid white !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background-color: rgba(0,0,0,0) !important;
  display: inline-block;
  text-transform: capitalize;
}

#autocomplete:focus {
  outline: none;
}

#first-page-submit {
	border: 4px solid white;
	color: white;
	opacity: 1;
	background-color: transparent;
	font-family: 'Roboto-Thin';
	font-size: 24px;
	display: inline-block;
	padding: 2px 50px;
}

#first-page-submit:hover {
	background-color: #4d4d4d;
	opacity: 0.6;
}


/*results page */


.landingPageNavigation {
	/* color: rgba(77, 175, 124, 0.9); ocean green*/
	margin: 1em 0;
	width: 100%;
	position: fixed;
	z-index: 1;
/*	top: 5;*/
	ul {
		margin: 0 auto;
		list-style-type: none;
		padding: auto 25%;	
		float: left;
		li {
			display: inline;
			margin-right: .5em;
			a {
				text-decoration: none;
				margin: auto 1em;
				vertical-align: top;
			}
		}
	}
}


/*result slider stylin */
.resultsPage {
	width: 100%;
	h2 {
		text-align: center;
		font-size: 4em;
		margin: 1em 0 0 0;
	}
}
.rowParent {
	box-sizing: border-box;

	.column {
		width: 25%;
		margin-top: -10em;
		padding: 0;
		float:left;
		box-sizing: inherit;
		.columnImage {
			width: 90%;
    		height: 200px;
    		object-fit: cover;
    		overflow: hidden;
    		border-radius: 5px;
		}
		h2, p {
			margin: 0;
			padding: 0;
		}
	}
}

/* ---- isotope ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* weather */
h2.location {
	text-align: left;
	color: white;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

.weatherContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	
}
.weatherImage {		
		width: 100%;
 		height: 30vw;
 		opacity: 40%

	}

.location {
	margin-top: -20em;

}
.weather-forecast {
	margin-top: -15em;
	height: 55vw;
	.current-conditions {
		width: 30%;
		display: inline-block;
		.temp {
			font-size: 28px;
		}
	}
	.daily-forecast {
		width: 12%;
		display: inline-block;
		text-align: center;
	}
	.weather-icon {
		padding: 5px;
	}
	.temp-high {
		color: red;
		margin-right: 10px;
	}
	.temp-low {
		color: blue;
	}
}

.dropdown-menu {
	border-radius: 0px;
	background-color: rgba(10,10,10,.2);
	border: 0px;
	color: white;
	box-shadow: none;
}

.dropdown-menu>li>a {
	color: white;
}

.dropdown-menu>li>a:hover {
	color: #FEB41C;
	background-color: transparent;
}

footer ul li {
	color: white;
	line-height: 6em;
}

.linea-icon {
	font-family: 'linea-basic-10';
	font-size: 20px;
}





