.container {
	margin: 30px 0 0 0;
	padding: 0;
	width: 100%;
	.location {
		.location-favorites {
			float: left;
			margin: 10px;
			line-height: 20px;
		}
		.location-delete {
			float: right;
			margin: 10px;
			line-height: 20px;
		}
			.placesTitle {
				height: 20vh;
				line-height: 20vh;
				text-align: center;
				vertical-align: middle;
				margin: 0;
				background-color: rgba(236,236,236, 0.5);
				border-bottom: solid 1px black;
					h2 {
						margin: 0px;
						cursor: pointer;
						font: 300% "Roboto-Thin", sans-serif;
						text-transform: uppercase;
						line-height: 20vh;
							.badge {
								font-family: "Roboto", sans-serif;
								font-size: 12px;
								letter-spacing: 2px;
								font-weight: 300;
							}
					}
			}
			.location .row {
				padding: .5em 1.5em;
			}

	}
}

.row {
	padding: 20px;
}
.col-xs-3 {
	padding: 10px;
}


.emptyUser {
	width: 100%;
	margin: 10% 20%;
	h3 {
		text-align: justify;
		width: 60%;
		font-size: 2.5em;
	}
	h2 {
		font-size: 2.5em;
	}
}

